<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Phiên Bản</b> 1.0
    </div>
    <strong>Bản Quyền &copy; 2024-2025 <a href="~/">Lê Văn Phúc</a>.</strong>
</footer>

<!-- Control Sidebar -->