<!-- banner section start -->
<div class="banner_section layout_padding">
    <div class="container">
        <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                            
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>
<!-- banner section end -->

<!-- banner bg main end -->